body{
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;

      background-color: #444;
      padding: 13px;
      width: 400px;
      height: 98vh;
      margin: auto;
      color: #efe;
}
main{
      margin: 13px;
      border: 2px solid #2f2f2f;
      border-radius: 10px;
      padding: 15px;
      background-color: #2f2f2f;
      box-shadow: rgba(101, 99, 99, 0.35) 0px 5px 15px;
}
header{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: end;
      width: 169px;
}
button{
      width: 36px;
      height: 36px;
      border-radius: 18px;
      border: none;
      margin: 2px;
      font-size: 18px;
      cursor: pointer;
      background-color: #efefef;
}
.btn-ope{
      background-color: #847f7f;
}
.btn-func{
      background-color: #434141;
      color: #efe;
}
.btn-number{
      background-color: #383434;
      color: #efefef;
}
.igual{
      background-color: #7dda71;
      color: #efe;
}

